* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator {
  background-image: linear-gradient(-225deg, #20e2d7 0%, #d4d4d0 100%);
  border-radius: 10px;
  padding: 30px;
}

.generatorHeading {
  color: #307a92;
  text-align: center;
  margin-bottom: 20px;
}

.generatePassword {
  background-color: #307a8d;
  height: 46px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 13px 10px;
  margin-bottom: 15px;
}

.copyButton {
  background-color: #307a8d;
  border: none;
  color: #fff;
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: space-between;
  color: rgb(48, 43, 43);
  margin-bottom: 15px;
}

.generatorButton {
  border-radius: 30px;
  background: #307a8d;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
